html, body {
    height: 100%;
}

html {
    display: table;
    margin: 0 auto;
}

body {
    display: table-cell;
}

#content {
	// position: absolute;
	max-width:1280px;
	width:1280px;
	position: relative;
	z-index: 10;
	background: transparent;
}

#header {
	height: 100px;
	.logo {
		height: 100px;
		display: block;
		background-image: url(../img/datamil-exp-logo.png);
		background-size: contain;
		background-repeat:no-repeat;
		margin: 5px auto;
	}	
}

#map {
	z-index: 0;
	position:absolute!important;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

#info {

	p {
		font-family: "Source Sans Pro",sans-serif;
		font-size: 16px;
		color: #323A44;
		font-weight: 500;
	}

	h3 {
		font-family: "Source Sans Pro",sans-serif;
		font-size: 16px;
		color: #323A44;
		font-weight:800;
	}

	padding: 20px 40px;
	position: relative;
	background: #FFFFFF;
	border: 2px solid #323A44;

	.country {
		width: 75px; height:75px;
		left: -37px; 
		top: -37px;
		position: absolute;
		background-image: url(../img/american-flag.png);
		background-size: contain;
		background-repeat:no-repeat;
		margin: 5px auto;
	}
	.controls {
		position: absolute;
		top: 0; right: 0;
		margin: 5px 40px 10px 40px;
	}
	.next {
		padding: 0 10px;
		float:right;
	}
	.prev {
		padding: 0 10px;
		float:left;
	}

	.content {
		-webkit-transition: width .3s, max-height 1s, opacity 2s;
		transition: width .3s, max-height 1s, opacity 2s;
	    overflow:auto;
	    max-height:600px;
	}
}

#data {

}

#controls {
	z-index: 10;
	position:absolute;
	bottom: 0;
	max-width:1280px;
	width:1280px;
	#timeline {
		width: 100%;
		height:70px!important;
		opacity: 0.8;
		background: #007CC3;
		border-radius: 10px 10px 0 0;
	}
}